# k3d cluster configuration to run Kubernetes on Docker with exposed ingress ports
apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: saga
servers: 1
agents: 1
ports:
  - port: 80:80
    nodeFilters:
      - loadbalancer
  - port: 443:443
    nodeFilters:
      - loadbalancer
